/* upload form styles */
.upload-button {
	width: 100%;
	margin: 30px auto 10px;
	text-align: center;
}

.file-input {
	height: 0;
	width: 0;
	opacity: 0;
}

.file-input-label {
	display: flex;
	width: 30px;
	height: 30px;
	border: 1px solid var(--primary);
	border-radius: 50%;
	margin: 10px auto;
	align-items: center;
	justify-content: center;
	color: var(--primary);
	font-weight: bold;
	font-size: 24px;
}

.file-input-label:hover {
	background: var(--primary);
	color: white;
}

.gallery-subsection {
	height: 60px;
	width: 100%;
	margin: 0 auto;
	font-size: 0.8rem;
}

.upload-error {
	color: var(--error);
}

/* progress bar styles */
.progress-bar {
	height: 5px;
	background: var(--primary);
	margin-top: 20px;
}

/* image grid styles */
.remove-img-icon {
	right: 13px;
	top: 12px;
	position: absolute;
	z-index: 1;
}

.remove-img-icon-img {
	opacity: 0.3;
	background: red;
	border-radius: 50%;
	filter: invert(10%) sepia(40%) contrast(100%) brightness(90%);
}

.remove-img-icon-img:hover {
	opacity: 1;
}

.carousel,
.carousel > *,
.slider,
.slider > *,
.slide * {
	height: 100%;
}
