html {
	overflow-y: overlay;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

main {
	display: block !important;
}

@media (min-width: 768px) {
	.col-md-illustration {
		height: calc((100vmax - 76px) / 2) !important;
	}
}

@media (min-width: 992px) {
	.col-lg-illustration {
		position: sticky;
		top: 76px;
		height: calc(100vh - 76px) !important;
	}
}

.xs-logo-seal {
	width: calc(4.6rem + 12.5%);
}

@media (min-width: 992px) {
	.lg-logo-seal {
		width: calc(6rem + 13%) !important;
	}
}

.xs-city-logo {
	width: calc(7rem + 25%);
	cursor: pointer;
}

.xs-city-logo-program {
	width: 180px;
}

@media (min-width: 576px) {
	.sm-city-logo-program {
		width: 240px;
	}
}

@media (min-width: 992px) {
	.lg-city-logo {
		width: calc(3.8rem + 14.2vmax) !important;
		cursor: pointer;
	}
}

.spacing {
	height: 4vh;
}

.form-label {
	margin-bottom: 0.1rem;
}

.city-logo-div {
	position: relative;
	width: 100%;
}

.city-logo {
	position: absolute;
	bottom: 0;
	-webkit-transition: opacity 0.7s ease;
	-moz-transition: opacity 0.7s ease;
	-o-transition: opacity 0.7s ease;
	transition: opacity 0.7s ease;
}

div:hover > div > .city-logo-top {
	opacity: 0;
}

.pageContainer {
	height: calc(100% - 76px);
}

/* Extra Small <576px
Small 		≥576px
Medium	 	≥768px
Large 		≥992px
Extra large ≥1200px */

/* #f6f1ee
#f6dcd3
#ebbbaa
#edae98
#fbbc93
#f7bfb4
#d4938b
#97534c
#95483f */

/* #silhouette {
	background: linear-gradient(
		to bottom,
		#f7bfb4 22%,
		#f6dcd3 34%,
		#ebbbaa 46%,
		#edae98 47%,
		#ebbbaa 55%,
		#f6dcd3 76%,
		#f7bfb4 88%
	);
	-webkit-mask-box-image: url(./images/logo.png);

} */

/* h1 {
	background: linear-gradient(
		to bottom,
		#f7bfb4 22%,
		#f6dcd3 34%,
		#ebbbaa 46%,
		#edae98 47%,
		#ebbbaa 55%,
		#f6dcd3 76%,
		#f7bfb4 88%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	margin: 0;
	padding: 3vh;
	-webkit-text-stroke: 2.5px transparent;
} */
